// ==============================
// FOOTER
// ==============================
.footer {
    background: $color-white;
    border-top: 1px solid $color-border;

    .inner {
        max-width: $container-max;
        margin: 0 auto;
        padding: 60px $container-padding 40px;
    }

    address {
        font-size: 12px;
        color: $color-gray;
        line-height: 1.8;
        font-style: normal;
        margin-bottom: 8px;
    }

    .copyright {
        font-size: 12px;
        color: $color-gray-light;
    }
}

// TOP 버튼
.top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 900;

    a {
        @include d-flex;
        flex-direction: column;
        gap: 4px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: $color-blue;
    }

    i{       
        
    }

    span{
        font-size: 14px;
    }
}