// ==============================
// FOOTER
// ==============================
.footer {
    background: $color-black;
    font-size: 14px;
    letter-spacing: 0;
    color: $color-gray-light;

    .inner {
        max-width: $container-max;
        margin: 0 auto;
        padding: 40px;
        @include mobile{
            padding: 20px;
        }
    }

    .footer-logo{
        width: 200px;
        margin-bottom: 40px;
        @include mobile{
            width: 160px;
        }
    }

    .footer-info{
        li{
            line-height: 1;
        }
        li+li{
            margin-top: 10px;
        }
    }

    address {
        margin-top: 10px;
        line-height: 1;
        font-style: normal;
        margin-bottom: 20px;
    }

    .copyright {
        font-size: 12px;
        color: $color-gray;
         @include mobile{
            font-size: 10px;
        }
    }
}

// TOP 버튼
.top {
    position: fixed;
    bottom: 30px;
    right: 20px;
    z-index: 900;

    a {
        @include d-flex;
        flex-direction: column;
        gap: 4px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background: $color-blue;
        @include mobile{
            width: 44px;
            height: 44px;
            gap: 2px;
        }
    }

    i{       
        @include mobile{
            font-size: 12px;
        }
    }

    span{
        font-size: 14px;
        @include mobile{
            font-size: 12px;
        }
    }
}